# COMMON
.idea/*
.DS_Store

# LOGS
logs/*
server/logs*

# DIST
client/dist
server/dist

# COVERAGE
server/coverage

# ENV VARS SHOULD NOT BE UPLOADED TO PRODUCTION
# server/.env
# client/.env

# NODE MODULES
server/node_modules
client/node_modules
